<!DOCTYPE html>
<html>
	<head>
		<title>Espacios de estacionamiento</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	</head>
	<body>
		<h1>Piso 1</h1>
		<p><span id="P1Uno"></span><span id="P1Dos"></span></p>
		<p><span id="P2Uno"></span><span id="P2Dos"></span></p>
		<p><span id="P3Uno"></span><span id="P3Dos"></span></p>
		<script>
		   fetch('http://104.129.131.178/espacios')
			  .then(response => console.log("h",response.json()))
			  .then(data => console.log(data));
		</script>
	</body>
</html>