<!DOCTYPE html>
<html>
	<head>
		<title>Espacios de estacionamiento</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
	</head>
	<body>
		<h1>Piso 1</h1>
		<p><span id="P1Uno"></span><span id="P1Dos"></span></p>
		<p><span id="P2Uno"></span><span id="P2Dos"></span></p>
		<p><span id="P3Uno"></span><span id="P3Dos"></span></p>
		<script>
			var socket = io();
			socket.on("espacios",(espacios)=>
			{
				console.log(espacios)
			})
		</script>
	</body>
</html>