<!DOCTYPE html>
<html>
	<head>
		<title>Espacios de estacionamiento</title>
		
		<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
	</head>
	<body>
		<h1>Piso 1</h1>
		<p><span id="P1Uno"></span><span id="P1Dos"></span></p>
		<p><span id="P2Uno"></span><span id="P2Dos"></span></p>
		<p><span id="P3Uno"></span><span id="P3Dos"></span></p>
		<script>
			var socket = io.connect("http://http://104.129.131.178/");
			socket.on("espacios",(espacios)=>
			{
				console.log(espacios)
			})
		</script>
	</body>
</html>